/*

!/.gitignore
!/README.md
!/RELEASE.md
!/kg_plugins.sln

!/kg_LayoutGrid/
/kg_LayoutGrid/*
!/kg_LayoutGrid/README.md
!/kg_LayoutGrid/kg_LayoutGrid_PiPL.r
!/kg_LayoutGrid/src/
!/kg_LayoutGrid/src/**
!/kg_LayoutGrid/Win/
/kg_LayoutGrid/Win/*
!/kg_LayoutGrid/Win/kg_LayoutGrid.vcxproj
!/kg_LayoutGrid/Win/kg_LayoutGrid.vcxproj.filters
!/kg_LayoutGrid/Win/kg_LayoutGrid_PiPL.rc
